* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'RawFont';
    src: url('../acumin-pro-extra-condensed-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: 'RawFont', sans-serif !important; */
}

h1 {
    font-family: 'RawFont', sans-serif !important;
}

/* Navbar Styling */

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

/* Hero Seciton Styling */

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background image */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 70%;
}

/* logo png */
.bg-img {
    background-image: url('../logo_with_background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    box-shadow: 0 0 50px 30px black inset;
    height: 100%;
    width: 100%;
} 

.headline {
    /* visibility: hidden; */
}

.hero h1, .hero p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
}

.hero p{
    font-family: 'RawFont', sans-serif !important;
    font-size: 2rem;
    top: 80%;
    color: white;
    transition: color 0.5s ease-out;
}

.hero p a {
    color: white;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-out;
}


.scroll-text a:hover{
    color: red;
    transition: color 0.5s ease;
}


/* About Section Styling */

.about {
    height: 100vh;
    background-color: black;
    padding: 10%;
}

.about h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

