@inherits LayoutComponentBase

<PageTitle>RAW UK</PageTitle>

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>